<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0222" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.0.0-alpha0212" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net452" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net452" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net452" />
</packages>