<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net452" />
  <package id="SharpDX" version="4.1.0-ci184" targetFramework="net452" />
  <package id="SharpDX.DirectInput" version="4.1.0-ci184" targetFramework="net452" />
  <package id="SharpDX.RawInput" version="4.1.0-ci184" targetFramework="net452" />
  <package id="SharpDX.XInput" version="4.1.0-ci184" targetFramework="net452" />
</packages>