<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net452" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.12" targetFramework="net452" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net452" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net452" />
</packages>